---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Linkedin} from "lucide-astro";
import {Github} from "lucide-astro";
import {File} from "lucide-astro";
import {Menu} from "lucide-astro";
import {X} from "lucide-astro";
---

<Layout title="Nassim LOUNADI">
    <main>
        <section id="main" class="h-screen">
            <section id="navbar" class="fixed top-0 w-full bg-neutral-900/50 backdrop-blur-2xl z-20">
                <div class="w-full px-6 xl:px-96 py-6 border-b border-neutral-700 flex justify-between items-center">
                    <h4 class="text-xl">
                        <a href="#" class="font-bold text-neutral-100">Nassim LOUNADI</a>
                    </h4>
                    <div class="hidden lg:flex space-x-4">
                        <a href="#about-me"
                           class="block px-4 py-2 rounded-md text-sm font-medium text-neutral-100 hover:bg-neutral-800"
                        >About me</a>
                        <a href="#projects"
                           class="block px-4 py-2 rounded-md text-sm font-medium text-neutral-100 hover:bg-neutral-800"
                        >Projects</a>
                        <a href="#contact"
                           class="block px-4 py-2 rounded-md text-sm font-medium text-neutral-100 hover:bg-neutral-800"
                        >Contact</a>
                    </div>
                    <div class="flex lg:hidden" id="mobile-menu-button">
                        <Menu class="h-6 w-6"/>
                    </div>
                    <div class="hidden absolute top-0 left-0 h-screen w-full z-30 bg-neutral-900 flex flex-col justify-center items-center gap-8"
                         id="mobile-menu">
                        <div class="absolute top-0 right-0 mt-6 mr-6 p-1" id="mobile-menu-close">
                            <X class="h-6 w-6"/>
                        </div>
                        <a href="#about-me"
                           class="mobile-menu-buttons block px-4 py-2 rounded-md text-xl font-semibold text-neutral-100 hover:bg-neutral-800"
                        >About me
                        </a>
                        <a href="#projects"
                           class="mobile-menu-buttons block px-4 py-2 rounded-md text-xl font-semibold text-neutral-100 hover:bg-neutral-800"
                        >Projects</a>
                        <a href="#contact"
                           class="mobile-menu-buttons block px-4 py-2 rounded-md text-xl font-semibold text-neutral-100 hover:bg-neutral-800"
                        >Contact</a>
                    </div>
                </div>
            </section>

            <section id="header">
                <div class="flex flex-col w-full justify-center">
                    <img src="/memoji_header.png" alt="Technologist emoji" class="w-72 h-72 mx-auto mt-32"/>
                    <h1 class="text-center text-4xl font-bold mt-2">Nassim LOUNADI</h1>
                    <p class="text-center text-lg text-neutral-400">Développeur full-stack</p>

                    <a href="#about-me"
                       class="block w-fit mx-auto mt-8 px-4 py-2 rounded-md text-sm font-medium text-neutral-100 bg-indigo-500 hover:bg-indigo-600"
                    >En savoir plus</a>

                    <a href="#about-me" class="block mx-auto w-fit mt-40 xl:mt-72 animate-bounce">↓ Scroll ↓</a>
                </div>
            </section>
        </section>

        <section id="about-me">
            <div class="h-screen px-6 xl:px-96 py-24 xl:py-48">
                <h1 class="text-3xl font-bold">Qui suis-je ?</h1>

                <div class="xl:flex items-center justify-between">
                    <div>
                        <p class="mt-8 text-neutral-400">
                            Je suis un développeur full-stack passionné par le développement web et mobile.
                            J'aime apprendre de nouvelles technologies et les mettre en pratique dans des projets
                            personnels.
                        </p>

                        <p class="mt-8 text-neutral-400">
                            Je suis actuellement en 3ème année de Licence Informatique à l'Université de Tours.
                            Je suis à la recherche d'un stage de 8 à 12 semaines à partir du 15 avril 2024.
                        </p>
                    </div>
                    <img src="/memoji_aboutme.png" alt="Memoji" class="w-72 h-72 xl:ml-24"/>
                </div>

                <div class="flex">
                    <a href="https://www.linkedin.com/in/nassimlounadi/" target="_blank"
                       class="flex items-center w-fit mt-8 px-4 py-2 rounded-md text-sm font-medium text-indigo-500 hover:bg-neutral-800"
                    >
                        <Linkedin class="inline-block w-5 h-5 mr-2"/>
                        LinkedIn
                    </a>
                    <a href="https://github.com/nassimlnd/" target="_blank"
                       class="flex items-center w-fit mt-8 px-4 py-2 rounded-md text-sm font-medium text-indigo-500 hover:bg-neutral-800"
                    >
                        <Github class="inline-block w-5 h-5 mr-2"/>
                        GitHub
                    </a>
                    <a href="/CV_Nassim_LOUNADI.pdf" target="_blank"
                       class="flex items-center w-fit mt-8 px-4 py-2 rounded-md text-sm font-medium text-indigo-500 hover:bg-neutral-800"
                    >
                        <File class="inline-block w-5 h-5 mr-2"/>
                        CV
                    </a>
                </div>

            </div>
        </section>

        <section id="projects">
            <div class="h-fit px-6 xl:px-96 py-24 xl:py-48">
                <h1 class="text-3xl font-bold">Mes projets</h1>

                <div class="flex flex-col xl:flex-row gap-8 mt-8 xl:mt-16 xl:space-y-0">
                    <Card
                            title="Portfolio"
                            description="Mon portfolio, développé avec Astro et TailwindCSS."
                            fullDescription={
                                "Mon portfolio, développé avec Astro et TailwindCSS. " +
                                "J'ai décidé de développer mon portfolio avec Astro et TailwindCSS pour apprendre de nouvelles technologies. " +
                                "Astro est un framework qui permet de créer des sites web statiques et dynamiques. Il permet de créer des sites web performants et accessibles. "
                            }
                            tags={['Astro', 'TypeScript', 'TailwindCSS']}
                            date="Janvier 2024"
                            state="En cours"
                            links={[
                                {
                                    name: 'GitHub',
                                    href: 'https://github.com/nassimlnd/portfolio'
                                },
                                {
                                    name: 'Demo',
                                    href: 'https://nassimlounadi.fr/'
                                }
                            ]}
                            screenshots={
                                ['/portfolio_screenshots/screenshot1.png', '/portfolio_screenshots/screenshot2.png', '/portfolio_screenshots/screenshot3.png', '/portfolio_screenshots/screenshot4.png']
                            }
                    />
                    <Card
                            title="NasThreads"
                            description="Un réseau social sur le principe de Twitter"
                            fullDescription={
                                "NasThreads est un réseau social sur le principe de Twitter. " +
                                "Il permet de partager des messages courts avec ses abonnés. " +
                                "Le projet a été développé à l'aide de NextJS, Prisma, TypeScript et TailwindCSS." +
                                "<br><br>Le projet a été réalisé pour apprendre à utiliser NextJS et Prisma. Et pour réaliser un projet complet avec beaucoup de fonctionnalités"
                            }
                            tags={['NextJS', 'Prisma', 'TypeScript', 'TailwindCSS']}
                            date="Janvier 2024"
                            state="En cours"
                            links={[
                                {
                                    name: 'GitHub',
                                    href: 'https://github.com/nassimlnd/nasthreads'
                                },
                                {
                                    name: 'Demo',
                                    href: 'https://www.threads.nassimlounadi.me/'
                                }
                            ]}
                            screenshots={
                                ['/nasthreads_screenshots/screenshot1.png', '/nasthreads_screenshots/screenshot2.png']
                            }
                    />
                    <Card
                            title="Facturéo"
                            description="Un logiciel de facturation pour les entrepreneurs"
                            fullDescription={
                                "Dans le cadre d'un projet de fin de semestre, il a été demander de mettre en place une application Symfony. J'ai donc décidé de créer un logiciel de facturation pour les entrepreneurs. <br><br>Facturéo est une application de facturation complète qui facilite la création, la gestion et l'envoi de factures professionnelles. Elle offre une gamme de fonctionnalités pour aider les utilisateurs à gérer efficacement leur processus de facturation. <br><br>Le projet a été développé à l'aide de Symfony, MySQL et TailwindCSS."
                            }
                            tags={['Symfony', 'PHP', 'MySQL', 'TailwindCSS']}
                            date="Décembre 2023"
                            state="En pause"
                            links={
                                [
                                    {
                                        name: 'GitHub',
                                        href: 'https://github.com/nassimlnd/factureo'
                                    }
                                ]
                            }
                            screenshots={
                                [
                                    '/factureo_screenshots/screenshot1.png',
                                    '/factureo_screenshots/screenshot2.png',
                                    '/factureo_screenshots/screenshot3.png',
                                    '/factureo_screenshots/screenshot4.png',
                                    '/factureo_screenshots/screenshot5.png',
                                    '/factureo_screenshots/screenshot6.png',
                                    '/factureo_screenshots/screenshot7.png',
                                ]
                            }
                    />
                </div>
                <div class="flex flex-col xl:flex-row gap-8 mt-8 xl:mt-16 xl:space-y-0">
                    <Card
                            title="CircuitsCourts"
                            description="Application de gestion et de visualisation de tournées de livraison"
                            fullDescription={
                                "Dans le cadre du projet de fin semestre 4 de Licence Informatique" +
                                "Nous avions comme mission de réaliser une application de gestion et de visualisation de tournées de livraisons." +
                                "<br><br>Le projet avait comme contrainte de réaliser le projet en Java et d'utiliser JavaFX pour l'interface graphique." +
                                ""
                            }
                            tags={['Java', 'JavaFX', 'MySQL', 'FXML']}
                            date="Décembre 2022"
                            state="Terminé"
                            links={[
                                {
                                    name: 'GitHub',
                                    href: 'https://github.com/nassimlnd/CircuitsCourtsJava'
                                }
                            ]}
                            screenshots={
                                [
                                    '/circuitscourts_screenshots/screenshot1.png',
                                    '/circuitscourts_screenshots/screenshot2.png',
                                    '/circuitscourts_screenshots/screenshot3.png',
                                    '/circuitscourts_screenshots/screenshot4.png',
                                    '/circuitscourts_screenshots/screenshot5.png',
                                    '/circuitscourts_screenshots/screenshot6.png',
                                    '/circuitscourts_screenshots/screenshot7.png',
                                    '/circuitscourts_screenshots/screenshot8.png',
                                ]
                            }
                    />
                    <Card
                            title="EcoCircuits"
                            description="Une application web de gestion et de visualisation de tournées de livraison."
                            fullDescription={
                                "EcoCircuits est une application web de gestion et de visualisation de tournées de livraison. " +
                                "Ce projet a été réaliser dans le cadre d'un stage volontaire dans le Laboratoire d'Informatique Fondamentale et Appliquée de Tours. " +
                                "Le projet a été développé à l'aide de <span class='font-semibold text-white'>React</span>, <span class='font-semibold text-white'>JavaScript</span> et <span class='font-semibold text-white'>TailwindCSS</span>." +
                                "<br><br>Le projet fait appel à une API Rest développée spécialement pour le projet en Java avec Spring. " +
                                "L'API permet de gérer les utilisateurs, les tournées, les clients et les produits. " +
                                "Elle permet aussi de générer des tournées de livraison à l'aide d'un algorithme fait à partir d'un modèle mathématique fait en collaboration avec les chercheurs du labo. " +
                                "<br><br>Le projet a également été réalisé en collaboration avec la plateforme de livraison de produits locaux, <span class='font-semibold text-white'>Manger Bio Centre Val de Loire</span>." +
                                "<br><br>Le projet est actuellement en pause. Mais il sera repris par les chercheurs du laboratoire dans le cadre d'un projet de recherche."
                            }
                            tags={['React', 'Javascript', 'TailwindCSS']}
                            date="Mai 2023"
                            state="En pause"
                            links={[
                                {
                                    name: 'GitHub',
                                    href: 'https://github.com/nassimlnd/EcoCircuits'
                                },
                            ]}
                            screenshots={
                                [
                                    '/ecocircuits_screenshots/screenshot1.png',
                                    '/ecocircuits_screenshots/screenshot2.png',
                                    '/ecocircuits_screenshots/screenshot3.png',
                                ]
                            }
                    />
                    <Card
                            title="EcoCircuitsAPI"
                            description="Une API Rest pour gérer les utilisateurs, les tournées, les clients et les produits pour le projet EcoCircuits."
                            fullDescription={
                                "EcoCircuitsAPI est une API Rest pour gérer les utilisateurs, les tournées, les clients et les produits pour le projet EcoCircuits. " +
                                "Ce projet a été réaliser dans le cadre d'un stage volontaire dans le <span class='text-white font-semibold'>Laboratoire d'Informatique Fondamentale et Appliquée de Tours</span>. " +
                                "<br/><br/>L'API a été développée à l'aide de <span class='font-semibold text-white'>Java</span>, <span class='font-semibold text-white'>Spring</span>, <span class='font-semibold text-white'>MySQL</span>, <span class='font-semibold text-white'>Hibernate</span>." +
                                "<div class='border-b border-neutral-600 pb-2 mt-24'>" +
                                "<h4 class='text-xl font-semibold text-white'>Endpoints</h4>" +
                                "</div>" +
                                "<div class='px-6 mt-6'>" +
                                "<h4 class='text-white pb-2'>Utilisateurs</h4>" +
                                "<ul class='list-disc list-inside px-2'>" +
                                "<li>GET /users</li>" +
                                "<li>GET /users/{id}</li>" +
                                "<li>POST /users</li>" +
                                "<li>PUT /users/{id}</li>" +
                                "<li>DELETE /users/{id}</li>" +
                                "</ul>" +
                                "<h4 class='text-white pb-2 mt-6'>Tournées</h4>" +
                                "<ul class='list-disc list-inside px-2'>" +
                                "<li>GET /tournee</li>" +
                                "<li>GET /tournee/{id}</li>" +
                                "<li>POST /tournee</li>" +
                                "<li>PUT /tournee/{id}</li>" +
                                "<li>DELETE /tournee/{id}</li>" +
                                "</ul>" +
                                "<h4 class='text-white pb-2 mt-6'>Produits</h4>" +
                                "<ul class='list-disc list-inside px-2'>" +
                                "<li>GET /products</li>" +
                                "<li>GET /products/{id}</li>" +
                                "<li>POST /products</li>" +
                                "<li>PUT /products/{id}</li>" +
                                "<li>DELETE /products/{id}</li>" +
                                "</ul>" +
                                "<h4 class='text-white pb-2 mt-6'>Authentification</h4>" +
                                "<ul class='list-disc list-inside px-2'>" +
                                "<li>POST /auth/login</li>" +
                                "<li>POST /auth/register</li>" +
                                "</ul>" +
                                "</div>"
                            }
                            tags={['Java', 'Spring', 'MySQL', 'Hibernate']}
                            date="Mai 2023"
                            state="En pause"
                            links={
                                [
                                    {
                                        name: 'GitHub',
                                        href: 'https://github.com/nassimlnd/EcoCircuits-back'
                                    }
                                ]
                            }
                    />
                </div>
                <div class="flex flex-col xl:flex-row gap-8 mt-8 xl:mt-16 xl:space-y-0">
                    <Card
                            title="2048Fx"
                            description="Le jeu 2048 fait en Java et JavaFX"
                            fullDescription={
                                "Le jeu 2048 fait en Java et JavaFX. " +
                                "Le projet a été réalisé dans le but d'apprendre à utiliser JavaFX. "
                            }
                            tags={['Java', 'JavaFX']}
                            date="Novembre 2022"
                            state="En pause"
                            links={[
                                {
                                    name: 'GitHub',
                                    href: 'https://github.com/nassimlnd/2048Fx'
                                }
                            ]}
                            screenshots={
                                [
                                    '/2048fx_screenshots/screenshot1.png',
                                    '/2048fx_screenshots/screenshot2.png',
                                ]
                            }
                    />
                    <Card
                            title="Storage"
                            description="Un logiciel de gestion de base de données"
                            fullDescription={
                                "Storage est un logiciel de gestion de base de données. " +
                                "<br><br>Étant un utilisateur de Navicat depuis plusieurs années maintenant, j'ai connu la disparition du Navicat Lite qui était gratuit, au profit de solutions payantes (Navicat Premium). " +
                                "J'ai continué à utiliser la version gratuite du logiciel Navicat Lite même s'il n'est plus maintenue. Mais arrivant rapidement au fait que même si le logiciel est toujours très fonctionnel. L'expérience utilisateur fait défaut." +
                                "<br><br>Pour remédier à ce problème, j'ai d'abord décidé de parcourir le web à la recherche d'une alternative qui remplit les mêmes fonctions que Navicat Lite, mais avec une UX bien meilleure. Hélas, je n'ai pas trouvé de solutions gratuites/opensource qui répondait à mes besoins." +
                                "<br><br>J'ai donc décidé de créer moi même un logiciel de gestion de base de données qui répond à mes besoins. Ce logiciel sera opensource et disponible sur GitHub. " +
                                "<br><br>Le projet est actuellement en cours de conception. Ce projet sera pour moi l'occasion d'apprendre à utiliser <span class='text-white font-semibold'>NativePHP</span>, une manière de créer des applications natives en <span class='font-semibold text-white'>PHP</span>. Sur le même principe d'Electron. " +
                                "Ce sera également l'occasion de me familiariser avec le framework Laravel. "
                            }
                            tags={['Laravel', 'NativePHP', 'PHP', 'TailwindCSS']}
                            date="Fevrier 2024"
                            state="En conception"
                            links={[
                            ]}
                            screenshots={
                                [
                                ]
                            }
                    />
                    <Card
                            title="RefereeHub"
                            description="Une application web pour la gestion des disponibilités et des désignations pour les arbitres de basketball."
                            fullDescription={
                                "Étant arbitre officiel de basketball depuis maintenant plus de 5 ans. Une des choses les plus pénible à la reprise des championnats après les trêves/vacances, était la gestion des disponibilités. " +
                                "Actuellement, en tant qu'arbitre, nous devons envoyer un mail avec un fichier excel avec nos disponibilités à notre repartiteur pour lui indiquer nos disponibilités. " +
                                "Le repartiteur doit ensuite faire les désignations en fonction des disponibilités de chacun. " +
                                "<br><br>Le projet RefereeHub a pour but de faciliter la gestion des disponibilités et des désignations pour les arbitres de basketball. " +
                                "Il est question de créer une application web autant utile pour nous (arbitres) que pour les répartiteurs. Le logiciel apportera une interface ergonomique et innovante afin de faciliter la saisie des disponiblités. " +
                                "Mais il est aussi question de faciliter la repartition des arbitres sur les matchs facilement grâce à des algorithmes qui prendront en compte plusieurs paramètres et qui permettront de proposer des recommandations au repartiteur. " +
                                "<br><br>Le projet est actuellement en cours de conception. Il reste la maquette graphique à finaliser et ensuite il sera développé à l'aide de Laravel, Inertia, React, Typescript, MySQL et TailwindCSS."
                            }
                            tags={['Laravel', 'Inertia', 'React', 'Typescript', 'PHP', 'MySQL', 'TailwindCSS']}
                            date="Mars 2024"
                            state="Non commencé"
                            links={
                                []
                            }
                    />
                </div>
                <div class="flex flex-col xl:flex-row gap-8 mt-8 xl:mt-16 xl:space-y-0">
                    <Card
                            title="FlixHub"
                            description="Un clone de Netflix basée sur une API REST."
                            fullDescription={
                                "Pour un projet de programmation mobile pendant le semestre 6 de Licence Informatique. J'ai décidé mon camarade et moi de réaliser un clone de Netflix. " +
                                "Le but étant surtout d'apprendre la programmation mobile, en l'occurence, le développement d'application native Android, il était à la base question de réaliser une application simple. " +
                                "Amoureux du challenge, j'ai décidé de pousser le projet au bout et surtout au maximum des possibilités en 2 mois. " +
                                "<br><br>Le projet FlixHub est un Netflix mais basée sur une API REST faites grâce au framework AdonisJS (v6). Le fonctionnement de l'API est relativement simple, elle base ses données sur une base de données remplie grâce à une playlist M3U. C'est l'API qui se charge de l'upload et de la prise en compte du fichier et des données qu'il contient. " +
                                "L'API délivre également la possibilité de s'inscrire et de se connecter. L'authentification est basée sur un système de session (Session based authentication), qui sont stockés directement dans les cookies. Comme les applications Android native en Java, ne prenne pas en charge nativement les cookies. " +
                                "J'ai alors implémenter un système qui enregistre les cookies dans le système de stockage natif d'une application Android (SharedPreferences). " +
                                "<br><br>Le projet est actuellement en cours de développement."
                            }
                            tags={['AdonisJS', 'API REST', 'Java', 'Android', 'Typescript', 'MySQL']}
                            date="Fevrier 2024"
                            state="En cours"
                            links={
                                [
                                    {
                                        name: 'Github (front)',
                                        href: 'https://github.com/nassimlnd/flixhub'
                                    },
                                    {
                                        name: 'Github (back)',
                                        href: 'https://github.com/nassimlnd/flixhub-back'
                                    }
                                ]
                            }
                    />
                </div>
            </div>
        </section>

        <section id="contact" class="relative">
            <div class="h-screen px-6 lg:px-96 py-24 lg:py-48">
                <h1 class="text-3xl font-bold">Me contacter</h1>

                <form id="contact-form" method="post">
                    <div class="mt-8">
                        <label for="name" class="block text-neutral-400">Nom</label>
                        <input type="text" id="name" name="name"
                               class="w-full mt-2 px-4 py-2 rounded-md border border-neutral-700 bg-neutral-800 text-neutral-100"/>
                    </div>

                    <div class="mt-8">
                        <label for="email" class="block text-neutral-400">E-mail</label>
                        <input type="email" id="email" name="email"
                               class="w-full mt-2 px-4 py-2 rounded-md border border-neutral-700 bg-neutral-800 text-neutral-100"/>
                    </div>

                    <div class="mt-8">
                        <label for="message" class="block text-neutral-400">Message</label>
                        <textarea id="message" name="message"
                                  class="w-full mt-2 px-4 py-2 rounded-md border border-neutral-700 bg-neutral-800 text-neutral-100"></textarea>
                    </div>

                    <button type="submit"
                            class="block w-fit mx-auto mt-8 px-4 py-2 rounded-md text-sm font-medium text-neutral-100 bg-indigo-500 hover:bg-indigo-600">
                        Envoyer
                    </button>
                </form>
            </div>
            <div class="absolute flex items-center justify-center top-0 w-full h-full backdrop-blur-sm px-6">
                <div class="h-fit bg-neutral-800 border border-neutral-600 rounded-md  flex flex-col">
                    <div class="border-b border-neutral-600 px-6 py-6">
                        <h1 class="text-base lg:text-xl">⚠️ Demande de contact momentanément indisponible</h1>
                    </div>
                    <div class="px-6 py-6">
                        <p class="text-sm text-neutral-300">Pour prendre contact veuillez m'envoyer un mail à cette
                            adresse : <a href="mailto:nassimlnd37@gmail.com"
                                         class="text-indigo-500 hover:underline underline-offset-4">nassimlnd37@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="border-t border-neutral-600 px-6 lg:px-48 py-6 text-neutral-500 text-sm">
            <p>
                © Nassim LOUNADI <span id="year"></span> - Tous droits réservés
            </p>
        </div>
    </footer>
</Layout>

<script type="text/javascript">
    const year = new Date().getFullYear();
    document.querySelector('#year').textContent = year;


    const projects = document.querySelectorAll('.project');
    for (const project of projects) {
        console.log(project.dataset.modalid);
        const modal = document.querySelector(`#${project.dataset.modalid}`)
        const close = document.getElementById(modal.dataset.closeid);
        close.addEventListener('click', () => {
            modal.classList.toggle('hidden');
            document.getElementsByTagName('html')[0].classList.toggle('overflow-hidden')
        });
        project.addEventListener('click', () => {
            modal.classList.toggle('hidden');
            document.getElementsByTagName('html')[0].classList.toggle('overflow-hidden')
        });
    }

    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const closeMobileMenuButton = document.getElementById('mobile-menu-close');
    const mobileMenu = document.getElementById('mobile-menu');

    mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
        document.getElementsByTagName('html')[0].classList.toggle('overflow-hidden')
    });

    closeMobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
        document.getElementsByTagName('html')[0].classList.toggle('overflow-hidden')
    });

    const mobileMenuButtons = document.querySelectorAll('.mobile-menu-buttons');
    for (const mobileMenuButton of mobileMenuButtons) {
        mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
            document.getElementsByTagName('html')[0].classList.toggle('overflow-hidden')
        });
    }
</script>
